<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>用户评论</title>
	
	<link rel="stylesheet" href="/resources/css/bootstrap-3.3.7.min.css" />
	<link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>
	<div class="discuss">
		<div class="dis">
			<div class="dis-row">
				<div class="top">
					<div class="fl">
						<span>1#</span>
						<span>书山</span>
					</div>
					<span class="fr">2018-04-13 21:36</span>
				</div>
				<div class="body">
					<span style="display:block;text-indent:2em;">的积分垃圾分类收集开讲啦是顶级联赛建档立卡就是打开链接奥地利水晶的垃圾思考的骄傲瞬间了都急死了大家阿拉斯加的看了就爱上了多久啊是垃圾
					年达拉斯角度考虑时间多久啦是ADSL进来撒看见的就是打算角动量喀什了解到了就是大家爱看垃圾的考虑升后来发觉的啦</span>
				</div>
			</div>
			<div class="dis-row">
				<div class="top">
					<div class="fl">
						<span>2#</span>
						<span>书山</span>
					</div>
					<span class="fr">2018-04-13 21:36</span>
				</div>
				<div class="body">
					<span style="display:block;text-indent:2em;">的积分垃圾分类收集开讲啦是顶级联赛建档立卡就是打开链接奥地利水晶的垃圾思考的骄傲瞬间了都急死了大家阿拉斯加的看了就爱上了多久啊是垃圾
					年达拉斯角度考虑时间多久啦是ADSL进来撒看见的就是打算角动量喀什了解到了就是大家爱看垃圾的考虑升后来发觉的啦</span>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-dis">
		<div class="dis">
			<textarea class="context" style="height: 100px;"></textarea>
			<button class="btn btn-success fr">发表评论</button>
		</div>
	</div>
	
	<script src="/resources/js/jquery-3.3.1.min.js"></script>
	<script src="/resources/js/discuss.js"></script>
</body>
</html>