<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>意见反馈</title>
	
	<link rel="stylesheet" href="/resources/css/bootstrap-3.3.7.min.css" />
	<link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>
	<div class="show-box">
		<h2 class="fb-title">星月旅游欢迎您的反馈</h2>
		<textarea class="context"></textarea>
		<button class="btn btn-success fr" style="margin-left: 5px;">提交</button>
		<button class="btn btn-warning fr">清空</button>
	</div>
	
	<script src="/resources/js/jquery-3.3.1.min.js"></script>
	<script src="/resources/js/feedback.js"></script>
</body>
</html>