<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>酒店</title>
	
	<link rel="stylesheet" href="/resources/css/bootstrap-3.3.7.min.css" />
	<link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>
	<div class="show-box" style="padding:0;">
		<div class="hotel-list">
			<div class="hotel-row">
				<div class="row">
					<div class="col-sm-3 br">
						<img src="/resources/image/1.jpg" />
					</div>
					<div class="col-sm-9">
						<div class="row text-center">
							<div class="col-sm-3 br"><span>名称 : </span><span>帆船酒店</span></div>
							<div class="col-sm-3 br"><span>距离 : </span><span>3.5km</span></div>
							<div class="col-sm-3 br"><span>人均 : </span><span>￥ 3000</span></div>
							<div class="col-sm-3"><span>评分 : </span><span>5.0</span></div>
						</div>
						<div class="row">
							<span class="intro">jlkasjkasfjal发的纷扰打撒阿三发的阿三大王哇饿啊哇撒大</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/resources/js/jquery-3.3.1.min.js"></script>
	<script src="/resources/js/hotel.js"></script>
</body>
</html>