<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>星月旅游</title>
	
	<link rel="stylesheet" href="/resources/css/bootstrap-3.3.7.min.css" />
	<link rel="stylesheet" href="/resources/css/font-awesome-4.7.0.min.css" />
	<link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>
	<!-- 页面顶部设计 -->
	<div class="top-bar">
		<div class="fl">
			<a class="title" href="/views/welcome.html" target="iframe">欢迎使用星月旅游网!</a>
		</div>
		<div class="fr tools">
			<a href="/views/login.html">登陆</a>
			<span style="margin:0 5px 0 2px;width:0;border-left:1px solid;"></span>
			<a href="/views/register.html">注册</a>
		</div>
	</div>
	
	<!-- 页面左侧菜单栏设计 -->
	<div class="left-bar">
		<ul>
			<li>
				<a class="one" href="javascript:void(0);" target="iframe" targrt-id="ticket">
					票务信息
					<i class="fa fa-angle-left"></i>
				</a>
				<ul id="ticket" class="ziMeun">
					<li><a class="two" href="/views/boat.html" target="iframe">船票</a></li>
					<li><a class="two" href="/views/bus.html" target="iframe">汽车票</a></li>
					<li><a class="two" href="/views/train.html" target="iframe">火车票</a></li>
					<li><a class="two" href="/views/plane.html" target="iframe">飞机票</a></li>
				</ul>
			</li>
			<li><a class="one" href="views/hotel.html" target="iframe">酒店查询</a></li>
			<li><a class="one" href="www.baidu.com" target="iframe">旅游介绍</a></li>
			<li><a class="one" href="www.baidu.com" target="iframe">美食推荐</a></li>
			<li><a class="one" href="/views/discuss.html" target="iframe">用户评论</a></li>
			<li><a class="one" href="/views/self.html" target="iframe">个人信息</a></li>
			<li><a class="one" href="/views/feedback.html" target="iframe">意见反馈</a></li>
		</ul>
	</div>
	
	<!-- iframe显示区域 -->
	<div class="show-view">
		<iframe name="iframe" src="/views/welcome.html"></iframe>
	</div>
	
	<script src="/resources/js/jquery-3.3.1.min.js"></script>
	<script src="/resources/js/bootstrap-3.3.7.min.js"></script>
	<script src="/resources/js/index.js"></script>
</body>
</html>