<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>星月旅游-飞机票</title>
	
	<link rel="stylesheet" href="/resources/css/bootstrap-3.3.7.min.css" />
	<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/resources/css/font-awesome-4.7.0.min.css" />
	<link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>
	<div class="show-box">
		<div id="toolbar">
			<h1>飞机票</h1>
		</div>
		<table id="planeTable"></table>
	</div>
	
	<script src="/resources/js/jquery-3.3.1.min.js"></script>
	<script src="/resources/js/bootstrap-3.3.7.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="/resources/js/plane.js"></script>
</body>
</html>